body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
  color: white;

}

input, button {
  background-color: #121212;
  color: white;

}

button {
    margin: 20px
}
























